* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  padding: 30px;
  background-color: grey;
}

.nav-bar img {
  float: left;
  width: 100px;
}

.nav-bar h1 {
  float: right;
  font-size: 20px;
  word-spacing: 30px;
  margin-top: 10px;
}

.header {
  margin-top: 75px;
  clear: both;
  background-color: black;
  color: white;
}

.header img {
  padding-left: 50%;
  transform: translate(-25%, 0%);
}
