* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: grey;
}
.container {
  padding: 30px;
}

.nav-bar img {
  float: left;
  width: 100px;
}

.nav-bar h1 {
  float: right;
  font-size: 20px;
  word-spacing: 30px;
  margin-top: 10px;
}

.header {
  margin-top: 75px;
  color: white;
  background-color: black;
  background-image: url(../img/strangelove.jpg);
  background-repeat: no-repeat;
  background-position: center;
  height: 300px;
}

.content {
  width: 50%;
  float: left;
}

.social-media img {
  width: 39px;
}

.photos {
  width: 50%;
  float: right;
}

.photos img {
  margin: 10px;
  width: 20%;
  height: 100px;
  float: left;
}

.photos img:nth-child(6), .photos img:nth-child(10){
  clear: both;
}
.video {
  margin: 10px;
  width: 100%;
  text-align: center;
}
